 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header, hgroup,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
   display: block;
}

body {
    
    line-height: 1;
}

ol, ul {
    
    list-style: none;
}

blockquote, q {
    
    quotes: none;
}
table {
    
    border-collapse: collapse;
    border-spacing: 0; 
}

body {
    
    font-family: 'Helvetica', 'Arial', sans-serif;
    background: url(../image/ricepaper_v3.png);
    background-repeat: repeat;
}

.container {
    padding: 20px 20px;
    margin-right: auto;
    margin-left: auto;

}

a {
    text-decoration:none;
}

.nav {

    border: 1px solid #ccc;
    border-width: 1px 0;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
   
   li {
       
       display:inline;
    }
  
  a {
      color: #968F68;
      display: inline-block;
      padding: 10px;
      font-family: Century Gothic;
      font-size: 30px;
   }

  a:hover {
      
      color: #D79B1B;
  }

  img.logo {
      
      width: 130px;
      height: 130px;
  }
}

hr {
  
    padding: 0;
    border: none;
    border-top: medium double #968F68;
    color: #968F68;
    text-align: center;
    width: 80%;
}

hr:after {
    
    content: "§";
    display: inline-block;
    position: relative; 
    top: -0.7em;  
    font-size: 1.5em;
    padding: 0 0.25em;
}
.nav {
  
    border: none;
}

.content {
  
    min-width: 360px;
    
    >.row{

         padding-bottom: 20px;
         padding-top: 20px;
         text-align: center;
         margin-bottom: 5px;
      }
  }

.text-center {

    text-align: center;
  }

        h1 {

            padding: 20px;
            font-size: 70px;
            font-family: Century Gothic;
            color: #D79B1B

          }

        h2 {

            font-family: Century Gothic;
            color: #968F68;
            font-size: 25px;
            padding-bottom: 50px;
          }

 h1 a {
     
     font-family: Century Gothic ;
     font-size: 50px;
     color: #D79B1B;
   }

.textBox {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding: 20px;

  p {
      min-width: 360px;
      font-family: Century Gothic;
      font-size: 25px;
      color: #D79B1B;
      text-align: text-center;
      line-height: 1.5;
    }
}
.metext, .blogtext {

    max-width: 800px; 
    margin-left: auto;
    margin-right: auto; 
  }
    h2 {
      font-size: 35px;
      
    }
    .metext .col1 {

        display: inline-table;
        text-align: left;
        margin-bottom: 10px;
      }
    
    .metext .col1 p {

        font-family: Century Gothic;
        font-size: 30px;
        color: #968F68;
        line-height: 1.5;
        text-align: left;  
        padding: 10px;
    }

    .sanP {
        margin-top: 40px;
        margin-bottom: 20px;
    }

#my-work {

    margin-left: auto;
    margin-right: auto;
    min-width: 360px;;
    padding: 20px;
  }
       
       .work-block {

           display: inline-block;
           margin-top: 50px;
           margin-bottom: 50px;
           min-width: 360px;
           
           p {
               font-family: Century Gothic;
               font-size: 30px;
               color: #968F68;
               // margin-top: 20px;

             }
           }


.fun-block {

    display: inline-block;
    min-width: 360px;
    max-width: 800px;
    min-height: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    
    p {
        font-family: Century Gothic;
        font-size: 30px;
        color: #968F68;
        margin-top: 20px;
      }

    .image1 {

        max-width: 300px;

      }
    }


 .footer {
      
     .nav {

         list-style: none;
         margin-top: 20px;
         margin-bottom: 50px;
         padding: 0;
         text-align: center;
        
         li {
          
             display: inline;
           }
         }
       }

#my-blog {

    .textBox {

        max-width: 800px;
        p {

            min-width: 360px;
          }
        }
      }

// .tumblr-post {

//     max-width: 800px;
//     min-width: 360px;
//     margin-left: auto;
//     margin-right: auto;

//     p {
//         font-family: Century Gothic;
//         font-size: 35px;
//         color: #968F68;
//         margin-top: 20px;
//         text-align: left;
//         line-height: 1.5;
//       }

//     .regular-title {
        
//         p {
//             font-family: Century Gothic;
//             font-size: 35px;
//             color: #968F68;
//             margin-top: 20px;
//             text-align: left;
//             line-height: 1.5;
//           }
//         }
//       }

.logoHeader, .tileHeader {

    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top:  30px;
    padding: 10px;

    h1 {

        font-size: 60px;
      }
    }

.FPlogo, .contentH {

    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top:  50px;
    padding: 10px;

    h1 {

        color: #968F68;
      }

    p {

        font-family: Gothic;
        font-size: 35px;
        color: #968F68;
      }
    
    img {

        margin-top: 50px;
        margin-bottom: 50px;
      }
    }

.contentH {

    width: 800px;

    h1 {
        font-size: 35px;
        color: #968F68;
      }
    h2 {

        font-size: 20px;
        color: #D79B1B;
        margin-top: 100px;
      }
    }

.tileHeader {

    h1 {

        color: #968F68;
      }
    }

.logoHeader {

    h1 {

        color: #968F68;
      }
    }

#about-me, #my-work, #my-blog, #for-fun {
  
    h1{

        a: hover {
      
            color: #968F68;
          }
        }
      }

.WebHeader {

    h1 {

        font-size: 60px;
        font-family: Andale Mono;
        text-align: center;
        color: #968F68;
        }
      }

.contentH {

    width: 70%;
        
        h1 {
       
            font: 35px Gothic bold;
            }
          }
.webC {

    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    h2 {
        
        font-size: 20px;
        font-family: Gothic;
        text-align: left;
        line-height: 1.5;
        }
      }

.Webimage {

    margin-right: auto;
    margin-left: auto;
    width: 80%;
    img {
        width: 80%;
        height: 70%;
        filter: grayscale(0);
        -webkit-filter: grayscale(0);
        -moz-filter: grayscale(0);
        -o-filter: grayscale(0);
        -ms-filter: grayscale(0);;
        }
      }

.Webimage {

    img:hover {
    
        ilter: grayscale(1);
        -webkit-filter: grayscale(1);
        -moz-filter: grayscale(1);
        -o-filter: grayscale(1);
        -ms-filter: grayscale(1);
        }
      }

#for-fun {

    .textBox {

        p {

            max-width: 800px;
            min-width: 360px;
          }
          }
        }
