@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  background: url(../image/ricepaper_v3.png);
  background-repeat: repeat;
  margin-right: auto;
  margin-left: auto; }

.container {
  padding: 20px 20px;
  margin-right: auto;
  margin-left: auto; }

a {
  text-decoration: none; }

.nav {
  border: 1px solid #ccc;
  border-width: 1px 0;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center; }
  .nav li {
    display: inline; }
  .nav a {
    color: #968F68;
    display: inline-block;
    padding: 10px;
    font-family: Century Gothic;
    font-size: 30px; }
  .nav a:hover {
    color: #D79B1B; }
  .nav img.logo {
    width: 130px;
    height: 130px; }

hr {
  padding: 0;
  border: none;
  border-top: medium double #968F68;
  color: #968F68;
  text-align: center;
  width: 80%; }

hr:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em; }

.nav {
  border: none; }

.content {
  margin-left: auto;
  margin-right: auto;
  min-width: 360px; }
  .content > .row {
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    margin-bottom: 20px; }

.text-center {
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

h1 {
  padding: 20px;
  font-size: 70px;
  font-family: Century Gothic;
  color: #D79B1B;
  font-weight: bold; }

h2 {
  font-family: Century Gothic;
  color: #968F68;
  font-size: 35px;
  text-align: left; }

h1 a {
  font-family: Century Gothic;
  font-size: 50px;
  font-weight: bold;
  color: #D79B1B; }

h1 a:hover {
  color: #968F68; }

.textBox {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px; }
  .textBox p {
    margin-left: auto;
    margin-right: auto;
    min-width: 360px;
    font-family: Century Gothic;
    font-size: 30px;
    color: #D79B1B;
    text-align: text-center;
    line-height: 1.5; }

.metext, .blogtext {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto; }
  .metext h2, .blogtext h2 {
    font-size: 35px;
    font-weight: bold;
    margin-top: 20px; }

.metext .col1 {
  display: inline-table;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 30px; }

.metext .col1 p {
  font-family: Century Gothic;
  font-size: 25px;
  color: #968F68;
  line-height: 1.5;
  text-align: left; }

.metext .col2 {
  margin-bottom: 60px; }

.metext .col2 p {
  font-family: Century Gothic;
  font-size: 25px;
  color: #968F68;
  line-height: 1.5;
  text-align: left;
  margin-top: 20px; }

.sanP {
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 30px; }

#my-work {
  margin-left: auto;
  margin-right: auto;
  min-width: 360px; }

.work-block {
  margin-right: auto;
  margin-left: auto;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 30px;
  min-width: 360px; }
  .work-block p {
    font-family: Century Gothic;
    font-size: 25px;
    color: #968F68;
    font-weight: bold; }

.work-block img {
  width: 300px;
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -o-filter: grayscale(0);
  -ms-filter: grayscale(0); }

.work-block img:hover {
  ilter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
  -ms-filter: grayscale(1); }

.fun-block {
  display: inline-block;
  min-width: 360px;
  max-width: 800px;
  min-height: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px; }
  .fun-block p {
    font-family: Century Gothic;
    font-size: 25px;
    color: #968F68;
    margin-top: 20px;
    font-weight: bold; }
  .fun-block img {
    width: 300px; }

.footer .nav {
  list-style: none;
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 0;
  text-align: center; }
  .footer .nav li {
    display: inline; }

.row .metext {
  max-width: 800px; }
  .row .metext p {
    min-width: 360px; }

.logoHeader, .tileHeader, .WebHeader {
  margin-left: auto;
  margin-right: auto;
  min-width: 360px; }
  .logoHeader h1, .tileHeader h1, .WebHeader h1 {
    padding: 20px;
    font-family: Century Gothic;
    color: #D79B1B;
    font-weight: bold;
    text-align: center; }
  .logoHeader a, .tileHeader a, .WebHeader a {
    font-size: 70px; }

.FPlogo, .contentH {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px; }
  .FPlogo h2, .contentH h2 {
    font-family: Century Gothic;
    font-size: 50px;
    color: #D79B1B;
    text-align: center; }
  .FPlogo h3, .contentH h3 {
    font-family: Century Gothic;
    font-size: 25px;
    color: #968F68;
    text-align: left;
    line-height: 1.5; }

.webC, .version {
  margin-top: 50px; }

#about-me h1, #my-work h1, #my-blog h1, #for-fun h1 {
  a: hover;
    a-color: #968F68; }

.Webimage {
  margin-right: auto;
  margin-left: auto;
  min-width: 360px;
  max-width: 800px;
  min-height: 360px;
  margin-top: 50px;
  margin-bottom: 30px; }
  .Webimage img {
    width: 90%;
    height: 80%;
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -o-filter: grayscale(0);
    -ms-filter: grayscale(0); }

.Webimage img:hover {
  ilter: grayscale(1);
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  -o-filter: grayscale(1);
  -ms-filter: grayscale(1); }

.FPlogo img {
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  height: 80%;
  margin-top: 50px;
  margin-bottom: 30px;
  position: relative;
  left: 30px; }

.version img {
  margin-right: auto;
  margin-left: auto;
  width: 90%;
  height: 80%;
  margin-top: 50px;
  margin-bottom: 30px; }

#for-fun .textBox p {
  max-width: 800px;
  min-width: 360px; }

/*# sourceMappingURL=style.css.map */
